@media only screen and (min-width: 768px) {
	[class*="menuBut-"] {
    width: 100%;
	 filter: invert(100%);
}
	
  /* For mobile phones: */


body {
  background-image:url("../images/radioclash.gif");
  background-repeat:repeat;
  background-size: auto;
}
header {
	width:100%;
   display:flex;
   justify-content:center;
   align-items:center;
  margin-block-start: 200px;
  margin-block-end: 50px;
}


html {
  height: 100%
}

.menuBut:hover {
  filter: invert(100%);

}

.logo {width: auto;
	height: auto;
}

nav {
	margin: 0 auto;
    padding: 50;
    width: 85%;
    height: 2em;
	display: flex;
justify-content: space-evenly;
align-content:space-evenly;
align-items: space-evenly;
}

@media only screen and (max-width: 800px) {

  #header{
          width: 100%;
          height: auto;
          background-size: 100% auto !important;
  }
}


#invert:hover {
  -webkit-filter: invert(.9);
  filter: invert(.9);
}



.container:hover > .hidden {
 visibility: visible;
 pointer-events: none;
}

@media screen and (max-width: 600px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}
